html {
	height: 100%;
}

body {
	margin: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: #313131;
}

body {
	display: grid;
	min-height: 100%;
	grid-template-rows: 1fr auto;
}

header {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	border-bottom: 8px solid #32ccbc;
}

main {
	padding: 1rem;
}

footer {
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 1rem;
	border-top: 2px solid #f55555;
}

.allMovies {
	width: 75%;
	margin: auto;
}

.allBooks {
	width: 75%;
	margin: auto;
}

.navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navBar li {
	float: left;
}

.navBar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navBar li a:hover {
	background-color: #111;
}

.movies {
	min-height: 350px;
	border-bottom: 4px solid #32ccbc;
}

.trailer {
	text-align: right;
}

.movies img {
	max-height: 300px;
	float: left;
}

.movies p {
	padding-left: 250px;
	padding-top: 25px;
	font-size: x-large;
}

.books {
	min-height: 400px;
	border-bottom: 4px solid #32ccbc;
}

.books img {
	max-height: 300px;
	float: left;
}

.books p {
	padding-left: 250px;
	padding-top: 25px;
	font-size: x-large;
}

.restaurants {
	min-height: 450px;
	border-bottom: 4px solid #32ccbc;
}

.restaurants .img {
	float: left;
	max-width: 500px;
}

.restaurants .foodImg {
	float: right;
	max-width: 250px;
}

.restaurants .google {
	margin: auto;
	text-align: center;
}

.restaurants p {
	padding-left: 50%;
	margin-left: 25px;
	margin-right: 25px;
}

.cat {
	text-align: center;
}