html {
	height: 100%;
}

body {
	margin: 0;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.1;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: #313131;
}

body {
	display: grid;
	min-height: 100%;
	grid-template-rows: 1fr auto;
}

header {
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	border-bottom: 8px solid #32ccbc;
}

main {
	padding: 1rem;
}

footer {
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 1rem;
	border-top: 2px solid #f55555;
}

.navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.navBar li {
	float: left;
}

.navBar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navBar li a:hover {
	background-color: #111;
}

.movies {
	min-height: 350px;
}

.movies img {
	max-height: 300px;
	float: left;
}

.movies p {
	padding-left: 250px;
	padding-top: 25px;
}

.books {
	min-height: 400px;
}

.books img {
	max-height: 300px;
	float: left;
}

.books p {
	padding-left: 250px;
	padding-top: 25px;
}